body {
    margin: 0;
    min-height: 100vh;
    background-image: url("assets/backgrounds/backgroundOpenBookRight.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    position: relative;
    top: 1%;
    left: 50%;
    width:90vw;
    transform: translateX(-50%);
}

.mainTitle {
    position: absolute;
    top: 20%;
    left: 12%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    z-index: 10000;
}

.bikurRufe{
    position: absolute;
    top: 45%;
    left: 50%;
    width: 38%;
    transform: translateX(-50%);
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 10000;
}

.titleBikurRufe{
    position: absolute;
    top: 30%;
    left: 38%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    z-index: 10000;
}

.mion{
    position: absolute;
    top: 45%;
    left: 13%;
    width: 36%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10000;
}

.titleMion{
    position: absolute;
    top: 30%;
    left: 7%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    z-index: 10000;
}

.click{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
}

.libary{
    position: absolute;
    top: 58%;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
}