body {
    margin: 0;
    min-height: 100vh;
    background-image: url("assets/backgrounds/backgroundOpenBookRight.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    position: relative;
    top: 1%;
    left: 50%;
    width:90vw;
    transform: translateX(-50%);
}

.mainTitle {
    position: absolute;
    top: 20%;
    left: 12%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    z-index: 10000;
}

.doctor{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 10000;
}

.titleDoctor{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    z-index: 10000;
}

.hopel{
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10000;
}

.titleHopel{
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    z-index: 10000;
}

.click{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
}

.text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    position: absolute;
    top: 80%;
    left: 25%;
    cursor: pointer;
    transform: translateX(-50%);
}

.libary{
    position: absolute;
    top: 58%;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
}

.subTitle{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}